.badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .success {
    background-color: green;
  }
  
  .error {
    background-color: red;
  }
  
  .warning {
    background-color: orange;
  }
  